* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(243, 241, 241, 0.462);
}

.heading {
    background: rgb(225, 229, 230);
    width: 94vw;
    text-align: center;
    height: 100vh;
}

.header {
    padding: 20px;
    border-bottom: 2px solid grey;
}

.main_heading {
    color: rgb(83, 82, 82);
}

.right_card_head {
    color: rgb(83, 82, 82);
}

.number {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}

.bottom {
    margin-top: 10px;
}

.possible {
    display: block;
    margin: 5px 0;
    color: rgb(83, 82, 82);
}

.paragraph {
    color: rgb(83, 82, 82);
}

.main_heading {
    margin: 20px 0 10px 0;
}

.shopping {
    color: rgb(83, 82, 82);
}

.flag {
    width: 30px;
    height: 15px;
}

.country_span {
    color: rgb(83, 82, 82);
}

.section {
    width: 800px;
    margin-left: 300px;
}

.commercial {
    background-color: rgb(231, 231, 75);
    border-radius: 10px;
    padding: 1px 5px;
}

.top {
    padding-bottom: 20px;
    border-bottom: 2px solid;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.left_card {
    background-color: #fff;
    height: 250px;
    width: 390px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.first_card,
.second_card,
.third_card {
    border-radius: 10px;
    margin: 0 0 10px 10px;
    width: 390px;
    height: 76px;
    background: #fff;
    padding: 10px;
}

.third_card {
    display: flex;
}

.cpc_div {
    width: 50%;
}

button {
    padding: 6px;
    cursor: pointer;
    outline: none;
    border: none;
}

.add_to_list_btn {
    background-image: linear-gradient(to right, blueviolet, blue);
}